<ion-header class="ion-no-border isLoggedIn" >
  <ion-item  lines="none">
    <img src="assets/icon/logo.png">
    <ion-label id="logo-text">FarmX</ion-label>
   </ion-item> 
   
</ion-header>


<ion-content class="dashboard">

 
    <ion-item lines="none">
      <div>
        <img src="assets/icon/Ricebag.jpg" alt="product details"/><br/>
        <ion-label>Rice</ion-label> 

      </div>
      <a [routerLink] ='["/productdetails"]' class="ion-float-right" >Product Details</a><br/>
      
     

    </ion-item>

 
</ion-content>
