<ion-header class="ion-no-border isLoggedIn">
  <ion-item  lines="none">
    <img src="assets/icon/logo.png">
    <ion-label id="logo-text">FarmX</ion-label>
   </ion-item> 
</ion-header>

<ion-content class="dashboard product">
  <img src="assets/icon/Ricebag.jpg" alt="product details"/><br/>
  <ion-item lines="none"><ion-label>Product :</ion-label>Rice</ion-item>
  <ion-item lines="none"><ion-label>Price :</ion-label> Rs 500</ion-item>
  <ion-item lines="none"><ion-label>Qunatity :</ion-label> 25kg</ion-item>
  <ion-item lines="none"><ion-label>Location :</ion-label> Hyderabad</ion-item>
  <ion-item lines="none"><ion-label>Conatct :</ion-label>9999492356</ion-item> 
</ion-content>
