/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";




.checkbox-style {
    display: flex;
    margin-left: 21px;
    margin-top: 15px;
  }
  
  .checkbox-item {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  .label_style{
    margin-left: 7px;
  }

.loginscreens ion-input{
    border:1px solid #00ac47;
   border-radius: 22px;
   box-shadow: 0px 0px 6px 0px rgba(163, 243, 174, 0.75);
 
}
.sc-ion-input-ios-h:not(.legacy-input) {
    min-height: 35px !important;
}

 .logo_style{
    max-width: 50%;
    margin-left: 95px;
 } 
 .register{
    margin-top: 15px;
 }
.loginscreens .full-width {
    width: 120%;
    --border-radius: 50px;
    --padding-start: 25px;
    --padding-end: 25px;
}
 .full-width {
    margin-left: auto;
    margin-right: auto;
    border:1px solid  #00ac47;
    background-color:#00ac47 ;
    padding:10px 25px;
    color: white;
    border-radius: 22px; 
    width:100%; 
    text-decoration: none;
    margin-top: 25px;
    
}
.sm-text a{
    color: #00ac47;
    text-decoration: none
   
}
input#ion-input-0,input#ion-input-1,input#ion-input-2,input#ion-input-3{
    padding-left:55px !important;
}
.register div{
    padding:10px;
}
.loginscreens ion-icon {
    color:#00ac47;
    padding: 10px;   
    margin-right: 0px;
    position: absolute;   
    z-index: 999;
    font-size: 15px;
}

.loginscreens .form-item {
    padding-top: 5px;
    padding-bottom: 10px;
    overflow: visible;
    padding-left: 5px;
    padding-right: 5px;
}
.formwrapper ion-item, .formwrapper ion-list, .formwrapper .list-md {
    --background: transparent;
    background: transparent;
}
.formwrapper ion-item {
    // text-align: center;
    --border-color: #fff;
}
.formwrapper ion-item img{
    width:60% !important;
    margin-right:auto;
    margin-left:auto;
}
.isLoggedIn ion-item{
    font-family: 'Ravie', cursive;
    color: #00ac47;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.isLoggedIn ion-label {
    font-family: 'Ravie', cursive; 
}
.isLoggedIn img{
    height:auto;
    width:15%;

}
.dashboard ion-item{
    padding: 5px;
    // display:flex;
    // justify-content: space-between;
   

}
h4{
    padding-left:20px;
    font-weight:bold;
}

#logo-text{
    display: flex;
    justify-content: flex-end;
    font-family: 'Ravie', cursive;
    font-size: 27px;
    font-weight: bold;
    color: black;
}
.dashboard ion-item img{
    width:15%;
    height:auto;
}
.dashboard a{
   flex:1;
   text-align: right;
   text-decoration: none;
}
.product img{
    margin-left:25%;
}
.loginscreens ion-icon {
    color: #00ac47;
    padding: 10px;
    border: 1px solid #00ac47 ;
    border-radius: 50%;
    margin-right: 0px;
    position: absolute;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0px 0px 6px 0px rgb(158 225 167 / 75%);
}
.home_style{
    margin-top: 100px;
    margin-left: 37px;
}
.h_welcome{
    font-weight: bold;
}
.h_farmx{
    font-family: 'Ravie', cursive;
    color: #00ac47;
}
.logo_FarmX{
    width: 50%;
    margin-left: 90px;
    margin-top: 50px;
    height: auto;
    position: relative;
}
.container {
    display: flex;
    align-items: center;
  }
.sign_in{
    font-size: 18px;
    margin-left: 25px;
    color: #00ac47;
    margin-top: 72px;
}


.arrow_img {
    width: 250px;
    height: auto; 
}
  
  .background-image-container{
    height:100vh;
    --background: url('assets/icon/background_FX.png') no-repeat center center fixed;

  }
//   ion-content.background-image-container.md.content-ltr.hydrated{
//     // --background: url('assets/icon/background_FX.png') no-repeat center center fixed;
//     background-size: cover;
//  }
 .logo_FarmX::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300%;
    height: 120%;
    background-image: url('assets/icon/logobfimg.png');
    background-size: 120% auto;
    background-position: center;
    z-index: -1; 
    border-radius: inherit; 
  }

